@model IEnumerable<Reservation>


<div class="container">
    <h4>Reservasyonlar</h4>
    <a asp-area="Admin" asp-controller="Reservation" asp-action="Create">Yeni Oluştur</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Salon Adı</th>
                <th>Sporcu Adı</th>
                <th>Reservasyon Kodu</th>
                <th>Oluşturma Tarihi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Gym.Title</td>
                    <td>@item.User.FullName()</td>
                    <td>@item.Code</td>
                    <td>@item.CreatedAt</td>
                    <td>
                    <a asp-area="Admin" asp-controller="Reservation" asp-action="Show" asp-route-id="@item.Id">Incele</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
